@charset "UTF-8";

.box1{
  width: 400px;
  height: 400px;
}

.box1,.box2{
  background: #ff0000;
  margin: 0 auto;
}

.box3,.box5,.box6,.box7{
  display: flex;
  justify-content: center;
}

.box3-1{
  margin-right: 150px;
}

.box3-2{
  margin: 0;
  background: #22ff00;
}

.box4{
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
}

.box5{
  flex-direction: row;
}

.box4-1,.box4-2{
  float: left;
}

.box4-1,.box5-1,.box7-1{
  background: #ff0000;
}

.box3-1,.box4-2,.box5-2{
  background: #0008ff;
}

.box5-3{
  background: #ff8400;
}

.box6-1,.box7-2{
  background: #00ff51;
}

.box6-1{
  order: 1;
}

.box6-2{
  background: #d4ff00;
  order: 2;
}

.box6-3{
  background: #ff00e1;
  order: 3;
}

.box7-3{
  display: none;
}

.box5-1,.box5-2,.box5-3,.box6-1,.box6-2,.box6-3,.box7-1,.box7-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2,.box3-1,.box3-2,.box4-1,.box4-2,.box5-1,.box5-2,.box5-3,.box6-1,.box6-2,.box6-3,.box7-1,.box7-2{
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 960px){
  .box1{
    width: 200px;
    height: 200px;
  }
  .box2{
    background: #007bff;
  }
  .box3-1{
    margin-right: 50px;
  }
  .box4-1,.box4-2{
    float: none;
  }
  .box5{
    flex-direction: row-reverse;
  }
  .box6-3{
    order: 1;
  }
  .box6-1{
    order: 2;
  }
  .box6-2{
    order: 3;
  }
  .box7-3{
    background: #0008ff;
    width: 300px;
    height: 300px;
  }
}

